$blue: #3d8fd1 !default;
$indigo: #293256 !default;
$purple: #6679cc !default;
$pink: #e83e8c !default;
$red: #E74C3C !default;
$orange: #c76b29 !default;
$yellow: #c08b30 !default;
$green: #ac9739 !default;
$teal: #22a2c9 !default;
$cyan: #17a2b8 !default;
$enable-rounded: false;
